node_modules
.next
dist
build
.turbo
*.env.local
.env
!.env.example

# DB
drizzle/migrations/*.sql

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
